body{
    margin: 0;
}
.name{
    font-family: 'Ceviche One', cursive;;
    font-size: 10px;
}
body{ font-family:Georgia, 'Times New Roman', Times, serif ;
}
h1{font-size: 50px;}
.name-highlight{
    color: rgb(57, 223, 79);
}
.half{
    width: 45%;
    float: left;
    margin: 5%;
    padding: 2%;   
}
.half-image{
   
    height: 150%;
    padding-top: 4%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.link-button{
    text-decoration: none ;
    background-image: linear-gradient( 90deg, rgb(32, 248, 32), rgb(18, 212, 164)) ;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-style: oblique;
    font-weight: 700;
    color: white;
}
.arfin{
    width: 500px;
    padding-bottom: 10%;
  
